<!DOCTYPE HTML> 
<html lang=en>
   <head>
      <meta charset=utf-8>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
      <title>
         <TMPL_VAR name>
      </title>
      <link rel=alternate type=application/atom+xml href=/atom.xml title=Feed>
      <style type=text/css media=screen> 
         html{ 
            background:#FFF
         } 
         html, a{ 
            color:#333333 
         } 
         @media screen and (max-width: 800px) /* Mobile */{
            body {
               font:normal medium 'Gill Sans', Optima, Verdana, sans-serif; 
               margin:40px auto 1em auto; 
               width:85%; 
               line-height:180% 
            }
         }

         @media screen and (min-width: 801px) /* Desktop */ {
            body {
               font:normal medium 'Gill Sans', Optima, Verdana, sans-serif; 
               margin:40px auto 1em auto; 
               width:55%; 
               line-height:180% 
            }
         }
         img{
            border:0;
            max-width:100%;
            height:auto;
            display: block;
            margin-left: auto;
            margin-right: auto;
         } 
         ul{ 
            list-style:none;margin-left:0;
            padding-left:0
         } 
         li{
            clear:both
         }
         #footer{
            clear:both;
            text-align:center;
            font-size:small
         } 
         .horizontal, .simple li{
            margin:0;
            padding:0;
            list-style:none;
            display:inline
         }
         .simple li:before{
            content:"+ "
         }
         .simple > li:first-child:before{
            content:""
         } 
         .author{
            text-decoration:none;
            display:block;
            float:right;
            margin-left:2em;
            font-size:small
         } 
         .content{
            margin:1em 20px
         } 
         pre {
                Background:#eeeef4;
                display: block;    
                border:1px;
                padding: 8px;
                border-radius:4px;
                overflow:auto;
                max-width:100%;
         }
         .logo {
            display: inline-block;
         }
         .additional-info a {
            color: blue;
            font-size: medium;
         }
      </style>
   </head>

   <body>
      <h1>
         <TMPL_VAR name>
      </h1>
      <ul>
         <TMPL_LOOP Items>
         <TMPL_IF new_date>
      </ul>

      <h2 class=date>
         <TMPL_VAR new_date>
      </h2> 
      <ul> </TMPL_IF> 
         <li<TMPL_IF channel_language> lang="<TMPL_VAR channel_language>"</TMPL_IF>> 
            <h3>
            <a class=author href="<TMPL_VAR channel_link ESCAPE="HTML">" title="<TMPL_VAR channel_title_plain ESCAPE="HTML">">
               <TMPL_VAR channel_name ESCAPE="HTML">
            </a>
            <TMPL_IF title> 
               <a<TMPL_IF link> href="<TMPL_VAR link ESCAPE="HTML">"</TMPL_IF><TMPL_IF title_language> lang="<TMPL_VAR title_language>"</TMPL_IF>>
                  <TMPL_VAR title>
               </a>
            </TMPL_IF> 
            </h3>
            <TMPL_IF content>
               <div class="content">
                  <TMPL_VAR content>
               </div>
            </TMPL_IF> 
         </li> <hr>
         </TMPL_LOOP> 
      </ul> 

      <hr>
      <div id=footer>
         <p>via these fine people and organizations:</p>
         <ul class="simple horizontal">
            <TMPL_LOOP Channels>
               <li>
                  <a href="<TMPL_VAR link ESCAPE="HTML">" title="<TMPL_VAR title ESCAPE="HTML">">
                     <TMPL_VAR name>
                  </a>
               </li>
            </TMPL_LOOP>
         <ul>

         <br>
         <div class="additional-info">
         <!-- the webfeed image is linked to atom feed link -->
            <a href="https://planet.fsci.in/atom.xml">
               <img src="https://gitlab.com/fsci/blog.fsci.org.in/-/raw/master/theme/atom-24x24.png" alt="webfeed logo" class="logo"></img>
            </a>  
            <a href="https://planet.fsci.in/atom.xml">Atom Feed</a> | 
            <a href="https://gitlab.com/fsci/blog.fsci.org.in#steps-to-add-blog">Add your blog</a>
         </div>
      </div>
   </body>
</html>
